.Rproj.user
.Rhistory
.RData
.Ruserdata
testFiles/
climate/
.DS_Store
climate_data/
Artemisia.tridentata/
Campanula.rotundifolia/
Delphinium.occidentale/
Pinus.longaeva/
*.tif
output/Fig2/
output/Fig3/